/* for mobile */
@media only screen and (max-width: 600px) {
    #addresses {
        height: 80vh;
        background: whitesmoke;
        overflow-y: scroll;
      }

      .address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 10px;
        line-height: 1;
        cursor: pointer;
        border: 1px solid lightgray;
        box-shadow: 10px 5px 12px 0px lightgrey
      }

    .address-mada {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
      padding: 10px;
      line-height: 1;
      cursor: pointer;
      border: 1px solid lightgray;
      box-shadow: 10px 5px 12px 0px lightgrey;
      background-color: #f7bebe;
    }

      .time {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: larger;
        font-weight: bold;
      }
}

/*  for Desktop Browser */
@media only screen and (min-width: 600px) {
    #addresses {
        width: 30vw;
        background: whitesmoke;
        overflow-y: scroll;
      }
      .address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 10px;
        line-height: 1;
        cursor: pointer;
        border: 1px solid lightgray;
        box-shadow: 10px 5px 12px 0px lightgrey;
      }

      .address-mada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 10px;
        line-height: 1;
        cursor: pointer;
        border: 1px solid lightgray;
        box-shadow: 10px 5px 12px 0px lightgrey;
        background-color: #f7bebe;
      }

      #addresses > .address:hover {
        background-color: lightgray;
      }
      .time {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: larger;
        font-weight: bold;
      }

      .address-text {
        background-color: #f7bebe;
      }
}